body {
    background-image: url("assets/back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.scene{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
}

.personnages{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    justify-content:space-around;

}
.monstres{
    display: flex;
    flex-flow: column wrap;
}
.zoneTexte{
    display: none;
    flex-flow: column wrap;
    width: auto;
    height: auto;
    background-color: black;
    color: azure;
    align-items: center;
}

.texteHaut{
    display: flex;
    justify-content: center;
    
}

.bulle{
    display: flex;
    color: azure;
    width: 50%;
    height: 100px;
    align-content: center;
    justify-content: center;
    background-color: none;
}

