body {
    background-image: url("assets/back.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.scene{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    width: 98%;
    height: 58%;
    margin: 1%;
}

.personnages{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

.persoInd{
    display: flex;
    justify-content:center;
}

.life{
    display: flex;
    justify-content: center;
    background-color: red;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1px;
}

.mana{
    display: flex;
    justify-content: center;
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1px;
}

.stats{
    display: flex;
    justify-content: center;
    margin: 1px;
}

.nom{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: large;
}

.monstres{
    display: flex;
    flex-flow: column wrap;
}
.zoneTexte{
    display: none;
    flex-flow: column wrap;
    width: 98%;
    height: 28%;
    margin: 1%;
    background-color: black;
    color: azure;
    align-items: center;
}

.texteHaut{
    display: flex;
    justify-content: center;
    
}

.bulle{
    display: flex;
    visibility:hidden;
    color: azure;
    width: 65%;
    height: 8%;
    margin: 1%;
    align-content: center;
    justify-content: center;
    background-color: none;
}

.bulle p {
    font-style: 2%;
}

.personnages img {
    width: 20%;
    height: 20%;
}



